/*
 * Copyright (c) 2026
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/dma/gd32_dma.h>

/ {
	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs1";
			partition = <&lfs_part>;
			automount;
			read-size = <256>;
			prog-size = <256>;
			cache-size = <256>;
			lookahead-size = <128>;
			block-cycles = <512>;
		};
	};
};

/* Hardware TRNG: entropy for mbedTLS / the network stack. */
&trng0 {
	status = "okay";
};

&usart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&usart0_default>;
	pinctrl-names = "default";
	dmas = <&dma1 2 4 GD32_DMA_PRIORITY_VERY_HIGH 3>,
	       <&dma1 7 4 GD32_DMA_PRIORITY_HIGH 3>;
	dma-names = "rx", "tx";

	modem: l511 {
		compatible = "lynq,l511";
		mdm-power-gpios = <&gpioa 12 GPIO_ACTIVE_HIGH>;
		mdm-reset-gpios = <&gpioa 11 GPIO_ACTIVE_HIGH>;
		reset-pulse-ms = <200>;
		at-ready-delay-ms = <5000>;
	};
};

&spi2 {
	status = "okay";
	cs-gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi2_default>;
	pinctrl-names = "default";
	dmas = <&dma0 2 0 GD32_DMA_PRIORITY_HIGH 3>,
	       <&dma0 5 0 GD32_DMA_PRIORITY_MEDIUM 3>;
	dma-names = "rx", "tx";

	w25q32: w25q32jv@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <20000000>;
		jedec-id = [c8 40 16];
		size = <33554432>;
	};
};

&w25q32 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		lfs_part: partition@0 {
			label = "lfs_storage";
			reg = <0x00000000 0x00400000>;
		};
	};
};
