# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_GD32F5XX
	bool
	select SOC_FAMILY_GD_GD32
	help
	  Enable support for GigaDevice GD32F5XX MCU series

config SOC_SERIES
	default "gd32f5xx" if SOC_SERIES_GD32F5XX

config SOC_GD32F527
	bool
	select SOC_SERIES_GD32F5XX

config SOC
	default "gd32f527" if SOC_GD32F527
