/*
 * Copyright (c) 2026
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <arm/gd/gd32e50x/gd32e513xe.dtsi>
#include "acboard-pinctrl.dtsi"

/ {
	model = "ACBoard";
	compatible = "gd,acboard";

	zephyr,user {
		modem-powerkey-gpios = <&gpioa 12 GPIO_ACTIVE_HIGH>;
		modem-reset-gpios = <&gpioa 11 GPIO_ACTIVE_HIGH>;
		modem-reset-pulse-ms = <200>;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart3;
		zephyr,shell-uart = &uart3;
		zephyr,modem-uart = &usart0;
		zephyr,flash-controller = &fmc;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpioe 8 GPIO_ACTIVE_LOW>;
		};

		led1: led_1 {
			gpios = <&gpioe 9 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		modem-uart = &usart0;
	};

	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs1";
			partition = <&lfs_part>;
			automount;
			read-size = <256>;
			prog-size = <256>;
			cache-size = <256>;
			lookahead-size = <128>;
			block-cycles = <512>;
		};
	};
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
};

&gpioe {
	status = "okay";
};

&dma0 {
	status = "okay";
};

&usart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&usart0_default>;
	pinctrl-names = "default";
	dmas = <&dma0 4 0>, <&dma0 3 0>;
	dma-names = "rx", "tx";
};

&uart3 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart3_default>;
	pinctrl-names = "default";
};

&spi2 {
	status = "okay";
	cs-gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi2_default>;
	pinctrl-names = "default";

	w25q32: w25q32jv@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <20000000>;
		jedec-id = [c8 40 16];
		size = <33554432>;  /* 32 Mbit = 4 MB, GD25Q32 */
	};
};

&w25q32 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		lfs_part: partition@0 {
			label = "lfs_storage";
			reg = <0x00000000 0x00400000>;  /* 4MB full chip */
		};
	};
};
